@use '../sass/abstracts/mixins';

.container {
    //background-color: tan;
    width: 100%;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    @include mixins.breakpoint('sm') {
        width: 700px;
    }
    @include mixins.breakpoint('md') {
        width: 1000px;
    }
    @include mixins.breakpoint("lg") {
        width: 1200px;
    }

}




